.Band main {
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 100px;
  padding: 0 1em;
  gap: .5em;
  
  border: 2px solid #000;
  color: var(--white);
  background: var(--gray);
  transition: all ease 100ms;
}
.Band main:hover {
  border: solid 2px var(--white);
}

.Band hgroup {
  display: grid;
  gap: .5em;
}
.Band h1 {
  font-size: clamp(1.2rem, 3vw, 1.6rem);

}
.Band h2 {
  font-size: 1rem;
  color: var(--light-gray);
}

.Band .genre {
  
  display: grid;
  place-items: center;
  box-sizing: border-box;

  font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  background: var(--primary-color);
  border-radius: 20px 3px 3px 20px;
  font-weight: 700;
  min-width: 85px;
  padding: .3em;
  text-align: center;
  font-size: clamp(0.6rem, 3vw, 1rem);
  
} 

.inBandDetails {
  width: 100%;
  max-width: 70%;
  /* max-width: 650px; */
  margin-left: 2em;
  /* 
  main
  display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    band name
    h1 grid-row: 1/2
    h2 grid-row: 2/3
    genre grid-row 1/2
  */
}

.inBandDetails main {
  border: none !important;
  padding: 0 !important;

}

.inBandDetails hgroup {
  display: flex;
  place-items: center;
  gap: 1em;
}

@media(max-width: 678px) {
  .inBandDetails {
    margin: .5em !important;
  }
  .inBandDetails main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .Band-name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .inBandDetails h2 {
    grid-row: 2/3;
  }
  .genre {
    grid-row: 1/2;
  }
}