.Home {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 4em auto 1fr;
  overflow: auto;

  background: var(--black);
}

.filterSort {
  display: flex;
  gap: .5em;
  grid-column: 2/5;
  color: var(--white);
  place-items: start;
}

select, select option {
  
  font-size: .9rem;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: none;

  background: url('./resources/Vector.svg') no-repeat;
  background-position: right .7em top 50%, 0 0; 
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  padding: .5em;
  display: flex;
  place-items: center;
  color: var(--white);
  padding-right: 3em;
}

select:focus {
  border: 2px #611111 solid !important;
	outline: none;
}

.inHome, .bands-container {
  grid-column: 2/16;
}

.inHome {
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
  margin: 0 !important;
  height: 30px;
  grid-row: 1/2;
}

.inHome main {
  width: 100%;
}

.inHome h1 {
  cursor: pointer;
}

.bands-container {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .6em 1em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.addBand {
  display: grid;
  place-items: center;
}

@media(max-width: 678px) {
  .bands-container {
    grid-template-columns: 1fr;
  }
  .inHome {
    margin: 0 0 2em 0 !important;
  }
}
